<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
        <form #foodProducts="ngForm" (ngSubmit)="updateFoodproduct(foodProducts)">
          <div class="form-row">
            {{ selectedProduct.about }}
            <div class="form-group col-md-12">
              <label for="inputPassword4">Name</label>
              <input type="text" class="form-control" placeholder="Enter Food Product Name" id="foodProductName" [(ngModel)]="selectedProduct.name" #name="ngModel"
                name="name" ngModel />
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">About</label>
            <input type="text" class="form-control" placeholder="about Of product" id="foodProductabout" name="about" #about="ngModel" [(ngModel)]="selectedProduct.about"
              ngModel />
            <input type="hidden" class="form-control" id="foodProductavailability" name="availability" [(ngModel)]="selectedProduct.availability" #availability="ngModel"
              ngModel />
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Price</label>
              <input type="text" class="form-control" placeholder="Set Price" id="foodProductPrice" name="price" [(ngModel)]="selectedProduct.price"  #price="ngModel"
                ngModel />
            </div>
            <div class="form-group col-md-6">
              <label for="inputZip">Type</label>
              <select type="text" class="form-control" placeholder="Set Type" id="foodProductType" name="type" [(ngModel)]="selectedProduct.type" #type="ngModel" ngModel>
                <option>VEG</option>
                <option>NON-VEG</option>
                <option>DRINK</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-secondary" >Add More</button> -->
            <button type="submit" class="btn btn-primary">
              Update product
            </button>
          </div>
        </form>
      </div>
  </div>
</div>