<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h2> Food-App Employee Register</h2>
                    <!-- <h5>Feel Free To Register</h5> -->
                    <hr>
                </div>
                <app-alert [error]="error"></app-alert>
                <form #register="ngForm" (ngSubmit)="addUser(register)">
                    <div class="form-group">
                      <label >Name</label>
                      <input type="text" class="form-control" id="name" name="name" aria-describedby="emailHelp" ngModel>
                    </div>

                    <div class="form-group">
                        <label >Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" ngModel>
                    </div> 

                    <div class="form-group">
                      <label >Password</label>
                      <input type="password" class="form-control" id="password" name="password" ngModel>
                    </div>
                    <div class="form-group">
                      <label >role</label>
                     <select name="role" class="form-control" ngModel>
                      <option value="ADMIN">Branch Manager</option>
                      <option value="Staff">Staff</option>
                     </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
                  <a routerLink="/login">Already User ? Click here to Login!</a>

            </div>
        </div>
    </div>

</div>
